
    * {box-sizing: border-box; }

    body {margin: 0; padding: 0;}

    h1, h2, h3, h4, h5, p {
        font-family: 'Merriweather', serif;
    }
    .container {
    display: grid;

    grid-template-areas:
            "header header header"
            "nav content side"
            "nav article article"
            "footer footer footer";
    grid-template-columns: 25% 65% 10%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
    }
    header {
        grid-area: header;
        height: 140px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        background-color: #ececec;}

    header .logo1{
    }

    header .logo1 img{
        margin-top: 20px;
        width: 220px;
    }

    header p{
        font-size: 11px;
        align-self: flex-end;
        padding-left: 20px;
    }
    .effect1{
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    }
    .effect2{
        -webkit-box-shadow: 0 -10px 6px -6px #777;
        -moz-box-shadow: 0 -10px 6px -6px #777;
        box-shadow: 0 -10px 6px -6px #777;
    }
    /* Menu */
    nav {
        grid-area: nav;
        display: flex;
        font-family: 'Merriweather', serif;
        box-shadow: #CCCCCC;
    }
    nav ul{
        padding: 50px;
    }
    nav ul li a{
        text-decoration: none;
        color: darkgray;
    }
    nav ul li a:hover{
        color:#EF7521;
    }
    nav ul li{
        list-style-type: none;
        border-bottom: 1px solid black;
        padding: 10px;
    }



    /* Article */

    article{
        grid-area: article;
        padding: 0 90px 0 0;
        height: auto;
    }
    article p{
        font-size: 16px;
        line-height: 19px;
    }
    article h1{
        font-size: 32px;
    }
    article h2{
        font-size: 22px;
        color: #EF7521;
    }
    article p a {
        text-decoration: none;
        color: black;
    }


    /* Expositores */
    .expositores{
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .expositores .expo-foto{
        width:25%;
    }
    .expositores .expo-foto img{
        width: 200px;
        border-radius: 100%;
        background-color: #679fd8;

    }
    .expositores .desc{
        width: 65%;
        align-self: center;
    }
    .expositores .desc h3{
        font-size: 25px;
    }

    .expositores .desc p.cargo{
        color: #679fd8;
    }
    .expositores .desc p a{
       font-size: 12px;
    }
    .hide{
        font-size: 16px;
    }
    .Toggle {
        margin-bottom: 0.5em;
        font-family: 'Merriweather', serif;
    }
    .Toggle-link {
        padding: 0.5em;
        display: block;
        color: #df6d27;
        text-decoration: none;
    }
    .Toggle-content {
        padding: 0.5em;
    }
    /*Open and closed classes*/
    .isOpen:after {
        content: " - ";
        display: inline-block;
        margin-left: 0.35em;
        width: 1em;
        height: 1em;
    }
    .isClosed:after {
        content: " + ";
        display: inline-block;
        margin-left: 0.35em;
        width: 1em;
        height: 1em;
    }
    /*JS class*/
    .js-toggle {
        display: none;
    }

    /* Organizadores */
    .organizadores{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
    }
    .organizadores h3{
        text-align: center;
        margin-bottom: 10px;
        font-size: 26px;
    }
    .organizadores .orga-foto{
        align-self: center;
    }
    .organizadores .orga-foto img{
        width: 600px;

    }
    #logo{
        width: 130px;
    }
    .organizadores .desc{
        align-self: center;
    }
    .organizadores .desc h3{
        font-size: 25px;
    }
    .organizadores .desc p{
        font-size: 15px;
        text-align: center;
        color: gray;
    }

    button{
        display: block;}
    button {
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        background: transparent;
        box-shadow: 2px 5px 5px #888888;
    }
    button:hover {
        outline: 2px solid #8CDADE;}

    /* Mapa */
    .embed-container {
        position: relative;
        padding-bottom: 80.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;

    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        filter: orange;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    /* Main */

    main {
        grid-area: content;
        font-family: 'Merriweather', serif;
    }
    main h1{
        font-size: 45px;
        line-height: 46px;
    }

    main h2{
        font-size: 38px;
        line-height: 39px;
    }
    main h3{
        font-size: 20px;
        line-height: 12px;
    }

    .main-small{
        font-family: 'Merriweather', serif;
        color: darkgray;
    }
    .main-small h1{
        font-size: 35px;
        line-height: 46px;
    }

    .main-small h2{
        font-size: 28px;
        line-height: 28px;
    }
    .main-small h3{
        font-size: 15px;
        line-height: 12px;
    }
    .main-small p{
        font-size: 10px;
    }

    /* Aside */

    aside {
        grid-area: side;
    }


    #calendar {
        width: 70%;
        padding: 10px;
    }

    #calendar a {
        color: #EF7521;
        text-decoration: none;
    }

    #calendar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    #calendar li {
        display: block;
        float: left;
        width: 14.342%;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin-right: -1px;
        margin-bottom: -1px;
    }

    #calendar ul.weekdays {
        height: 40px;
        background: #EF7521;
    }

    #calendar ul.weekdays li {
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
        border: none !important;
        padding: 10px 6px;
        color: #fff;
        font-size: 13px;
    }

    #calendar .days li {
        height: 80px;
    }

    #calendar .days li:hover {
        background: #d3d3d3;
    }

    #calendar .date {
        text-align: center;
        margin-bottom: 5px;
        padding: 4px;
        background: #333;
        color: #fff;
        width: 30px;
        border-radius: 50%;
        float: right;
    }

    #calendar .event {
        clear: both;
        display: block;
        font-size: 13px;
        border-radius: 4px;
        padding: 5px;
        margin-top: 40px;
        margin-bottom: 5px;
        line-height: 14px;
        background: #e4f2f2;
        border: 1px solid #b5dbdc;
        color: #009aaf;
        text-decoration: none;
    }

    #calendar .event-desc {
        color: #666;
        margin: 3px 0 7px 0;
        text-decoration: none;
    }

    #calendar .other-month {
        background: #f5f5f5;
        color: #666;
    }

    /* ============================
                    Mobile Responsiveness
       ============================*/
    @media (max-width: 768px) {
        #calendar .weekdays, #calendar .other-month {
            display: none;
        }

        #calendar li {
            height: auto !important;
            border: 1px solid #ededed;
            width: 100%;
            padding: 10px;
            margin-bottom: -1px;
        }

        #calendar .date {
            float: none;
        }
    }





    /* Programa */

    .cf:before,
    .cf:after {
        content: " ";
        display: table;
    }

    .cf:after {
        clear: both;
    }

    .box {
        background: #ececec;
        height: 45px;
    }

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    ul.main {
        list-style: none;
        width: 100%;
        margin: 20px 20px;
        font-family: 'Merriweather', serif;
    }

    h3 {
        padding: 0;
        margin: 0;
    }

    .date {
        width: 17%;
        float: left;
        color:#EF7521;
    }

    .date h3 {
        font-size: 1.5em;
    }

    .date p {
        font-size: .8em;
    }

    .events {
        float: left;
        width: 80%;
        border-left: 1px solid #ccc;
    }

    .events-detail {
        max-width: 550px;
    }

    .events-detail li {
        padding: 10px;
        border-bottom: 1px dashed #ccc;
        line-height: 22px;
        transition: ease .4s all;
    }

    .events-detail li:hover {
        background: #f7b54d;
    }

    .event-time {
        font-weight: 900;
    }

    .events-detail li a {
        text-decoration: none;
        color: #4e4e4e;
        width: 100%;
        height: 100%;
        display: block;
    }

    .event-location {
        font-size: .8em;
        color: tomato;
        margin-left: 70px;
    }


    /* Footer */

    footer {
        grid-area: footer;
        height: 200px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #ececec;
    }

    footer .logo{
        flex-basis: 20%;
    }
    footer .logo img{
        width: 250px;
        height: auto;
        padding: 40px 0 0 0;

    }
    footer .col1{
        padding: 60px 0 0 50px;
        flex-basis: 20%;
        font-family: 'Merriweather', serif;
        font-size: 12px;
        line-height: 22px;
    }
    footer .col1 a{
        text-decoration: none;
        color: black;
    }
    footer .col2{
        flex-basis: 20%;
        padding: 60px 0 0 50px;
        font-family: 'Merriweather', serif;
        font-size: 12px;
        line-height: 22px;
    }
    footer .col2 a{
        text-decoration: none;
        font-size: 18px;
        color: black;
    }
    footer .col3{
        flex-basis: 15%;
        text-align: left;
        padding: 120px 0 0 0;
        font-family: 'Merriweather', serif;
        font-size: 12px;
        line-height: 22px;
    }
    footer .col3 a{
        text-decoration: none;
        color: black;
    }

    .redes-footer a{
        font-size: 22px;
        color: black;
        margin-left: 5px;

    }
    @media (max-width: 768px) {
        .container {
            width: 100%;
            grid-template-areas:
                    "header"
                    "nav"
                    "content"
                    "article"
                    "footer";

            grid-template-columns: 100%;
            grid-template-rows:
                    1fr /* Header */
                    auto /* Nav */
                    1fr /* Header */
                    auto /* Content */
                    1fr; /* Footer */
        }
        aside{
            display: none;
        }
        header{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: auto;
            margin: 0;
            padding: 0;
        }
        header #logo1 img,
        header #logo2 img,
        header #logo3 img{
            width: 20%;
        }
        header p{
            align-self: center;
        }

        nav, article, content, footer {
            margin: 0 auto;
            padding: 0;
        }
        nav{
            width: 100%;
            flex-direction: column;
            text-align: center;
        }
        nav ul{
            padding: 0;

        }
        nav ul li{
           font-size: 14px;

        }
        main {
            padding: 10px;
        }
        main p{
            font-size: 10px;
        }
        main h1{
            font-size: 40px;
            line-height: 38px;
        }
        main h2{
            font-size: 25px;
            line-height: 18px;

        }
        main h3{
            font-size: 12px;
            line-height: 12px;

        }
        article{
            padding: 10px;
        }
        article p{
            font-size: 12px;
        }
        .expositores{
            width: 100%;
            flex-direction: column;
            text-align: center;
        }
        .expositores .expo-foto{
            width: 100%;
            align-self: center;

        }

        .organizadores{
            width: 100%;
            text-align: center;
            padding: 0;
        }
        .organizadores .orga-foto img{
            width: 250px;
        }
        ul.main{
            margin: 0 auto;
        }
        footer{
            width: 100%;
            height: auto;
            flex-direction: column;
            margin: 0;
        }
        footer .col1, footer .col2,
        footer .logo{
            align-self: center;
            padding: 0;
            text-align: center;
            padding-bottom: 25px;
        }
    }

    @media all and (max-width: 641px) {
        .date {
            width: 100%;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
        }

        .events {
            border: none;
            width: 100%;
            margin-top: 0;
        }

        .events-detail {
            padding: 0;
        }

        li.date p {
            margin: 0;
        }
    }
