

#feedback-page{
	text-align:center;
}

#form-main{
	display: flex;
	width: 60%;
	margin: 0 auto;
	padding-top:20px;
	background-color: lightgray;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
	border-radius: 8px;
}

#form-div {
	margin: 0 auto;
	width: 70%;
  	margin-top:30px;
  
}

.montform .feedback-input {
	color: gray;
	font-family: 'Merriweather', serif;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
}
/*Inputs styles*/
.montform .feedback-input:focus{
	background: #B3B3B3;
	border: 1px solid #EF7521;
	color: white;
	outline: none;
  padding: 13px 13px 13px 54px;
}


/* Icons ---------------------------------- */
.montform  #name{
	background-image: url(img/user.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #name:focus{
	background-image: url(img/user.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #comment{
	background-image: url(img/message.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.montform  input:hover, .montform  textarea:hover,
.montform  input:focus, .montform  textarea:focus {
	background-color:#e6e6e6;
}

.button-blue{
	font-family: 'Merriweather', serif;
	width: 25%;
	float: right;
	cursor:pointer;
	background-color:#EF7521;
	color:white;
	font-size:18px;
	padding-top:12px;
	padding-bottom:12px;
  margin-top:-4px;
  font-weight:400;
}

.button-blue:hover{
	background-color: gray;
	color: black;
}
	
.montform  .submit:hover {
	color: #ff8120;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*Styles for small screens*/

@media (max-width: 768px) {
	#form-main{
		width: 100%;
		margin: 0 auto;
		padding: 0;
		flex-direction: column;
		background-color: white;
	}
	#form-div{
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
	.button-blue{
		width: 35%;
	}

}

